In [1]:
import os
import pandas as pd

In [2]:
df = {
    'name': ['A','B','C'],
    'age':[26,24,28],
    'hobby':['xyz','abc','lmn']
}

In [5]:
a = pd.DataFrame(df)
a

  name  age hobby
0    A   26   xyz
1    B   24   abc
2    C   28   lmn